<header home="home"></header>

<div class="container">

	<form>
		<div class="form-group">
			<input type="text" class="form-control" ng-model="desired.title" placeholder="Filter by Product Name">
		</div>
	</form>

	<table>
		<tr ng-repeat="group in products">
			<td ng-repeat="product in group | filter : desired">
				<div class="product-info">
					<div class="img-container">
		        		<img class="grid-img" ng-click="showModal=true" src={{product.images[0].src}}>

		        		<div ng-click="showModal=true" class="absolute">
					        <p class="eighteen">{{product.title.slice(0, 40)}}
					        <span ng-show="product.title.length>40">...</span></p>
					        <p class="eighteen">Price: {{getPrice(product)}}</p>
						</div>

		        	</div>

		        	<button ui-sref="product({productId: product.asin})" class="product-btn">See More</button>

		        	<modal-dialog show='showModal' dialog-title='{{product.title}}'>
						<h4>By {{product.byline}} <span class="pull-right">Price: {{getPrice(product)}}</span></h4>
						<img class="img-center" src={{product.images[0].src}}>
					</modal-dialog>

		        </div>
			</td>
		</tr>
	</table>

	<button ng-show="loadCount<3" ng-click="enableLoading()" class="load-btn">Load More</button>

	<p class="done" ng-show="loadCount>3"><span class="glyphicon glyphicon-alert"></span> You have perused it all.</p>

</div><!-- .container -->


